@media (max-width: 768px) {
  .header {
    top: 0rem;
    left: 0rem;
    gap: 0rem;
    nav {
      top: 0rem;
      left: 0rem;
      gap: 0rem;
    }
  }

  .hero,
  .hero > .hero-window,
  .about,
  .projects,
  .contact {
    width: 93.25%;
    transition: 0.5s;
  }

  .about {
    .about-text {
      justify-content: center;
      align-items: center;

      .tab-content {
        width: 34rem;
      }
    }
    .about-block {
      flex-direction: column;
      justify-content: center;
      .profile-pic {
        filter: grayscale(100%);
        opacity: 1;
      }
    }
  }

  .hero {
    .hero-title {
      font-size: 3.5rem;

      transition: 0.5s;
    }
  }

  .project-card {
    width: 90%;
  }
}

@media (max-width: 430px) {
  .about {
    .about-text {
      .tab-content {
        width: 20rem;
      }
    }
  }

  .contact {
    nav {
      flex-wrap: wrap;
      a {
        margin: 0.5rem;
      }
    }
  }
}

@media (max-width: 375px) {
  .about {
    .about-text {
      .tab-content {
        width: 17rem;
      }
    }
  }

  .projects {
    .project-grid {
      .project-card {
        width: 15rem;
      }
    }
  }

  .contact {
    nav {
      flex-wrap: wrap;
      a {
        margin: 0.5rem;
      }
    }
  }
}
