@use './base/globals' as *;
@use './components/about' as *;
@use './components/projects' as *;

%gradientShift-bg {
  background: $site-bg;
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  color: #000000;
}

%gradient-bg {
  background: $site-bg;
  background-color: #001f3f;
  background-repeat: repeat;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

body {
  @extend %gradientShift-bg;
  font-family: $font-main;
  font-weight: 300;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* a {
  text-decoration: none;
  color: #120d2b;
  transition: 0.3s;
}

* a:hover {
  transition: 0.3s;
}

* p {
  font-family: $font-body;
}

* a,
.title,
button {
  text-shadow: $text-shadow;
}

.title {
  font-family: $font-header;
  font-weight: 500;
  font-size: 1rem;
  margin: 0rem 0.5rem 0.5rem;
  padding: 0.2rem 0 0;
  border-radius: $border-radius;
  // background: $section-title;
  // box-shadow: inset 5px 5px 0px #faf6ffb6;
}

.header {
  @extend %glass-panel;
  position: relative;
  left: 20.5rem;
  padding: 0;
  .nav-container {
    padding: 0.5rem;

    nav {
      display: flex;
      top: 1rem;
      right: 1rem;
      gap: 1rem;

      a {
        font-family: $font-header;
        font-weight: 500;
        margin-inline: 1rem;
        text-decoration: none;
        &:hover {
          color: white;
          text-shadow: 0rem 0rem 0.5rem #000000;
        }
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero,
.hero-window,
.about,
.projects {
  padding: 0;
  width: 60rem;
}

// OUTER CONTAINERS
.hero-window,
.about,
.projects,
.contact {
  @extend %glass-panel;
}

// INNER CONTAINERS
.nav-container,
.hero-text,
.about-container,
.projects-container,
.contact-container {
  align-items: center;
  box-shadow: $box-shadow;
  background-color: $box-bg;
  border-radius: $border-radius;
  margin: 0.4rem 0.4rem 0.6rem;
  transition: 0.5s;
  border: $border2;
}

.header:hover,
.hero > .hero-window:hover,
.about:hover,
.projects:hover,
.contact:hover {
  border: $box-bg-hover;
  transition: 0.5s;
}

.hero {
  .hero-title-container {
    display: flex;
    justify-content: center;
    // margin: 1rem;
  }
  .hero-title {
    font-family: Sacramento, Arial, sans-serif;
    font-size: 5.81rem;
    text-align: center;
    margin: 0;
    transition: 1s;
    color: #3c3f96c3;
    animation: title 3s forwards;
  }

  @keyframes title {
    100% {
      color: rgb(255, 246, 246);
      text-shadow: 0 0 0.9rem hotpink;
    }
  }

  .hero-text {
    p {
      margin: 1rem 1.2rem;
      font-size: 1.1rem;
      font-weight: 400;
      text-shadow: $text-shadow;
    }
  }
}

.contact {
  margin-top: 1.5rem;
  nav {
    display: flex;
    justify-content: center;
    margin: 1rem;
    a {
      font-family: $font-header;
      font-weight: 400;
      margin-inline: 1rem;

      padding: 0.5rem 1rem;
      border: none;
      background-color: $tab-color;
      box-shadow: inset 3px 3px 0px #ffffff79;
      border-radius: $border-radius;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: $tab-color-hover;
        transition: 0.3s;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
  text-align: center;
  .footer-button {
    cursor: pointer;
    font-family: $font-main;
    font-size: 1rem;
    width: 9rem;
    padding: 0.5rem 0rem;
    border: none;
    background-color: $tab-color;
    box-shadow: $inner-box-shdw;
    border-radius: $border-radius;
    font-weight: 400;
    transition: 0.3s;

    &:hover {
      background-color: $tab-color-hover;
      transition: 0.3s;
    }
  }
  small {
    color: whitesmoke;
    margin-top: 1.5rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 1024px) {
  .header {
    top: 0rem;
    left: 0rem;
    gap: 0rem;
    nav {
      top: 0rem;
      left: 0rem;
      gap: 0rem;
    }
  }
  .hero,
  .hero > .hero-window,
  .about,
  .projects {
    width: 93.25%;
    transition: 0.5s;
  }
}

@media (max-width: 768px) {
  .about {
    .about-text {
      justify-content: center;
      align-items: center;
    }
    .about-block {
      flex-direction: column;
      justify-content: center;
      .profile-pic {
        filter: grayscale(100%);
        opacity: 1;
      }
    }
  }

  .hero {
    .hero-title {
      font-size: 3.5rem;

      transition: 0.5s;
    }
  }
}

@media (max-width: 430px) {
  .contact {
    width: 80%;
    nav {
      flex-wrap: wrap;
      a {
        margin: 0.5rem;
      }
    }
  }
}

@media (max-width: 375px) {
  .contact {
    nav {
      flex-wrap: wrap;
      a {
        margin: 0.5rem;
      }
    }
  }
}
