$site-bg: linear-gradient(
  to bottom right,
  #1f1b79,
  #3c3f96,
  #575cb2,
  #898dc8,
  #b2b3e0
);
$font-main: Open Sans, arial, sans-serif;
$font-header: Raleway, Istok Web, Open Sans, Arial, sans-serif;
$font-body: Istok Web, Open Sans, sans-serif;
$font-nav: Raleway, Open Sans, arial, sans-serif;
$tab-color: #ffcaf2;
$tab-color-hover: #c8b5ea;
$section-title: linear-gradient(to right, #e28fb7, #ffb3c6, #ffe5ec);
$text-shadow: 0rem 0rem 0.55rem white;
$button-shadow: inset 0.2rem 0.2rem 0rem #291e3e32;
// $box-shadow: inset 5px 5px 0px #faf6ffb6;
$box-shadow: 0rem 0rem 0.4rem #ffffff;
$box-bg: #c1a1ce;
$box-bg-hover: 1px solid #ece4ffb9;
$border: 1px solid #eaaac758;
$border2: 0.1rem solid #5151518e;
$border-radius: 0.2rem;
$border-hover: 1px solid #ece4ff;
$inner-bg: #e7d5ff;
$inner-box-shdw: 0rem 0rem 0.2rem #0000003d;
$inner-border: 1px solid #a74d7785;
$button-hover: #6a6ba1 #3c3f96;

html {
  scroll-behavior: smooth;
}

body {
  background: $site-bg;
  background-color: #001f3f;
  background-repeat: repeat;
  background-size: cover;
  color: #000000;
  font-family: $font-main;
  font-weight: 300;
}

* a {
  text-decoration: none;
  color: #120d2b;
  transition: 0.3s;
}

* a:hover {
  // color: #ffe5ec;
  transition: 0.3s;
}

*a,
.title,
button {
  text-shadow: $text-shadow;
}

.title {
  font-family: $font-header;
  font-weight:500;
  font-size: 1rem;
  margin: 0rem 0rem 0.5rem;
  // background: $section-title;
  padding: 0.1rem;
  border-radius: $border-radius;
  // box-shadow: inset 5px 5px 0px #faf6ffb6;
}

.header {
  position: relative;
  margin-top: 1.5rem;
  padding: 1rem;
  left: 20rem;
  // border: 1px solid #ffffff4d;
  background: #ffffff1a;
  border: $border;
  box-shadow: 0 4px 20px #1306064d;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1rem 0.4rem 0.4rem;
  border-radius: $border-radius;
  margin: 2rem auto;
  transition: 0.3s ease-in-out;
  .nav-container {
    padding: 0.5rem;

    nav {
      display: flex;
      top: 1rem;
      right: 1rem;
      gap: 1rem;

      a {
        font-family: $font-nav;
        font-weight: 500;
        margin-inline: 1rem;
        text-decoration: none;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero,
.hero > .hero-window,
.about,
.projects {
  width: 60rem;
  // margin-top: 1.5rem;
  padding: 0;
}

// --- ADDING GLASS PANEL
.hero > .hero-window,
.about,
.projects,
.contact {
  background: #ffffff2f;
  border: $border;
  box-shadow: 0 4px 20px #0000004d;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 0.4rem 0.4rem 0.6rem;
  border-radius: $border-radius;
  margin: 2rem auto;
  transition: 0.3s ease-in-out;
}

.nav-container,
.hero .hero-text,
.about-container,
.projects-container,
.contact-container {
  box-shadow: $box-shadow;
  background-color: $box-bg;
  border-radius: $border-radius;
  border: $border2;
  transition: 0.5s;
}

.header:hover,
.hero > .hero-window:hover,
.about:hover,
.projects:hover,
.contact:hover {
  border: $box-bg-hover;
  transition: 0.5s;
}

.hero {
  .hero-title-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }
  .hero-title {
    font-family: Sacramento, Arial, sans-serif;
    font-size: 80px;
    margin: 0;
    transition: 1s;
    color: #3c3f96;
    animation: title 3s forwards;
  }

  @keyframes title {
    100% {
      color: rgb(255, 255, 255);
      text-shadow: 0 0 9px hotpink;
    }
  }

  .hero-text {
    p {
      margin: 1rem 2rem;
      // color: white;
      font-size: 1.2rem;
      text-shadow: $text-shadow;
      font-family: $font-main;
      font-weight: 400;
    }
  }
}

.about {
  .about-block {
    display: flex;
    align-items: center;
    margin: 1.3rem;
    .profile-pic {
      height: auto;
      width: 220px;
      border-radius: $border-radius;
      margin-bottom: 1rem;
      border: $border;
      transition: 0.2s;
      opacity: 0.5;
      filter: grayscale(100%);
    }
    .profile-pic:hover {
      border: $border-hover;
      box-shadow: 0 0 9px #ece4ff;
      transition: 0.2s;
      opacity: 1;
      filter: grayscale(0%);
    }
  }
  .about-text {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    text-shadow: $text-shadow;
    .tabs {
      display: flex;
      gap: 0.6rem;
      margin-bottom: 1rem;

      button {
        padding: 0.5rem 1rem;
        border: none;
        background-color: $tab-color;
        box-shadow: $inner-box-shdw;
        border-radius: $border-radius;
        cursor: pointer;
        font-weight: 300;
        font-size: 1rem;
        transition: 0.3s;

        &.active {
          background-color: $tab-color-hover;
          // color: white;
          box-shadow: $button-shadow;
        }

        &:hover {
          background-color: $tab-color-hover;
          box-shadow: $inner-box-shdw;
          transition: 0.3s;
        }
      }
    }
    .tab-content {
      .info,
      .bio,
      .skills,
      .education {
        background-color: $inner-bg;
        height: 100%;
        width: 100%;
        padding: 0.5rem 0rem;
        border-radius: $border-radius;
        box-shadow: inset 3px 3px 0px #faf6ff55;
        p {
          font-family: $font-body;
          font-weight: 100;
          margin: 1rem 1rem;
          span {
            display: inline-block;
            background-color: #fcb1dd;
            color: #000000;
            box-shadow: $button-shadow;
            padding: 4px 8px;
            margin: 4px;
            border-radius: $border-radius;
            font-weight: 400;
            transition: 0.2s;
            &:hover {
              background-color: #8b5fb5;
              transition: 0.2s;
              color: #ffffff;
            }
          }
          em {
            margin: 1rem 1rem;
            font-weight: 400;
          }
        }
        // .info-p {
        //   font-size: 23px;
        // }
        .bio-p {
          margin: 1rem 1rem;
          font-size: 1.1rem;
        }
      }
      .skills {

        ul {
          margin: 0rem 1rem;
          list-style-type: none;
          padding: 0rem 0rem;
          li {
            h4 {
              margin-bottom: 0.9rem;
              font-weight: 500;
            }
            p {
              margin: 0rem 1rem;
              span {
                font-size: 1rem;
              }
            }
          }
        }
      }
      .education {
        ul {
          list-style-type: none;
          padding: 0;
          li {
            margin-top: -5px;
            .school {
              background-color: #fcb1dd;
              color: #000000;
              box-shadow: inset 3px 3px 0px #ffffff79;
              padding: 4px 8px;
              margin-bottom: 0px;
              border-radius: $border-radius;
              font-size: 1.3rem;
              transition: 0.2s;
            }
            .school:hover {
              background-color: #8b5fb5;
              transition: 0.2s;
              color: #ffffff;
            }
            .field {
              margin-top: 3px;
              margin-left: 6px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

.projects {
  // padding-bottom: 0.5rem;
  .project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
    .project-card {
      background: #dac6ff71;
      border: 1px solid #ffffff4d;
      box-shadow: 0 4px 20px #1306064d;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      padding: 0rem 0.3rem 0.3rem;
      border-radius: $border-radius;
      margin: 2rem 0.5rem;
      width: 18rem;
      transition: 0.3s ease-in-out;
      .project-title {
        margin: 0;
        border-radius: $border-radius;
        background: linear-gradient(to right, #dda0dd00, #ccccff, #e3daff);
        h3 {
          font-family: $font-body;
          font-weight: 500;
          font-size: 1rem;
          margin: 0.1rem 0.5rem;
          text-shadow: $text-shadow;
        }
      }
      .project {
        border: $inner-border;
        box-shadow: $inner-box-shdw;
        border-radius: $border-radius;
        background-color: $inner-bg;
        margin: 0.5rem 0rem;
        width: auto;
        padding: 0.3rem 1rem 1rem 1rem;
        transition: 0.3s;
        p,
        span,
        .tools,
        a {
          font-family: $font-body;
          margin-left: 10px;
        }
        h4 {
          font-family: $font-main;
          font-weight: 600;
          margin: 0.2rem 0rem;
        }
        p {
          font-size: 15px;
          margin-bottom: 1.5rem;
        }
        .tools {
          align-items: center;
          .tool {
            display: inline-block;
            background-color: #8b5fb5;
            color: #f3d9ee;
            box-shadow: inset 3px 3px 0px #ffffff79;
            padding: 4px 8px;
            margin: 4px;
            border-radius: $border-radius;
            font-size: 0.85rem;
          }
        }
        .card-buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1rem;
          margin-bottom: 0.7rem;
          .project-button {
            a {
              background-color: $tab-color;
              padding: 0.4rem;
              border: $border;
              // border-radius: $border-radius;
              // box-shadow: inset 3px 3px 0px #ffffffa4;
              box-shadow: $inner-box-shdw;
              &:hover {
                background-color: $tab-color-hover;
                transition: 0.3s;
              }
            }
          }
        }
      }
    }
  }
}

.view-all {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  .view-all-button {
    font-family: $font-nav;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    background-color: $tab-color;
    box-shadow: $inner-box-shdw;
    border-radius: $border-radius;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: $tab-color-hover;
      // color: #ffffff;
      transition: 0.3s;
    }
  }
}

.contact {
  margin-top: 1.5rem;
  nav {
    display: flex;
    justify-content: center;
    margin: 1rem;
    a {
      font-family: $font-nav;
      font-weight: 400;
      margin-inline: 1rem;

      padding: 0.5rem 1rem;
      border: none;
      background-color: $tab-color;
      box-shadow: $inner-box-shdw;
      border-radius: $border-radius;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: $tab-color-hover;
        transition: 0.3s;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem 0rem 0rem;
  text-align: center;
  .footer-button {
    cursor: pointer;
    font-family: $font-main;
    font-size: 1rem;
    width: 9rem;
    padding: 0.5rem 0rem;
    border: none;
    background-color: $tab-color;
    box-shadow: $inner-box-shdw;
    border-radius: $border-radius;
    font-weight: 400;
    transition: 0.3s;

    &:hover {
      background-color: $tab-color-hover;
      transition: 0.3s;
    }
  }
  small {
    color: whitesmoke;
    margin-top: 1.5rem;
    font-size: 0.9rem;
  }
}
