@media (max-width: 770px) {
  .header {
    top: 0rem;
    left: 0rem;
    gap: 0rem;
    nav {
      top: 0rem;
      left: 0rem;
      gap: 0rem;
    }
  }

  .hero,
  .about,
  .projects,
  .contact {
    width: 90%;
    transition: 0.5s;
  }

  .about {
    .about-block {
      flex-direction: column;
      justify-content: center;
      .profile-pic {
        filter: opacity(100%);
      }
    }
  }

  .hero {
    .hero-title {
      font-size: 43px;
      text-align: center;
      transition: 0.5s;
    }
  }
  .project-card {
    width: 90%;
  }
}
