$font-family: Funnel Display, Open Sans, arial, sans-serif;
$font-header: Doto, Raleway, Istok Web, Open Sans, Arial, sans-serif;
$font-hero: Sacramento, Funnel Display, Arial, sans-serif;
$font-project: Istok Web, Open Sans, sans-serif;
$font-bio: Open Sans, arial, sans-serif;

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    to bottom right,
    #1f1b79,
    #3c3f96,
    #575cb2,
    #898dc8,
    #b2b3e0
  );
  background-color: #001f3f;
  background-repeat: repeat;
  background-size: cover;
  font-family: $font-family;
}

* a {
  text-decoration: none;
  color: #120d2b;
  transition: 0.3s;
}

* a:hover {
  color: #ffe5ec;
  transition: 0.3s;
}

*a,
.title,
button {
  text-shadow: 0px 0px 10px white;
}

.title {
  font-family: $font-header;
  font-size: 1.3rem;
  margin: 0;
  background: linear-gradient(to right, #e28fb7, #ffb3c6, #ffe5ec);
  padding: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: inset 5px 5px 0px #faf6ffb6;
}

.header {
  position: relative;
  margin-top: 1.5rem;
  padding: 1rem;
  left: 240px;
  nav {
    display: flex;
    top: 1rem;
    right: 1rem;
    gap: 1rem;
    a {
      margin-inline: 1rem;
      text-decoration: none;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero,
.about,
.projects,
.contact {
  width: 900px;
  margin-top: 1.5rem;
  padding: 0;
}

.header,
.hero,
.about,
.projects,
.contact {
  box-shadow: inset 5px 5px 0px #faf6ffb6;
  background-color: rgba(244, 191, 206, 0.415);
  border-radius: 0.5rem;
  border: 1px solid #d6247d;
  transition: 0.5s;
}

.header:hover,
.hero:hover,
.about:hover,
.projects:hover,
.contact:hover {
  border: 1px solid #ffd700;
  // box-shadow: 0 0 9px #ffd700;
  transition: 0.5s;
}

.hero {
  div {
    display: flex;
    justify-content: center;
  }
  .hero-title {
    font-family: $font-hero;
    font-size: 60px;
    margin: 0;
    transition: 1s;
    animation: title 5s forwards;
  }

  @keyframes title {
    100% {
      color: rgb(255, 255, 255);
      text-shadow: 0 0 9px hotpink;
    }
  }
}

.about {
  .about-block {
    display: flex;
    align-items: center;
    margin: 1.3rem;
    .profile-pic {
      height: auto;
      width: 220px;
      border-radius: 1rem;
      margin-bottom: 1rem;
      border: 1px solid hotpink;
      transition: 0.3s;
      filter: opacity(60%);
    }
    .profile-pic:hover {
      border: 1px solid #69ffc8;
      box-shadow: 0 0 9px #69ffc8;
      transition: 0.2s;
      filter: opacity(100%);
    }
  }
  .about-text {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    text-shadow: 0px 0px 10px white;
    .tabs {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 1rem;

      button {
        padding: 0.5rem 1rem;
        border: none;
        background-color: #e28fb7;
        box-shadow: inset 2px 2px 0px #faf6ffbb;
        border-radius: 0.25rem;
        cursor: pointer;
        font-weight: bold;
        transition: 0.3s;

        &.active {
          background-color: #3c3f96;
          color: white;
        }

        &:hover {
          background-color: #ffc2d1;
          box-shadow: inset 2px 2px 0px #faf6ff;
          transition: 0.3s;
        }
      }
    }
    .tab-content {
      .bio,
      .skills,
      .education {
        background-color: rgba(221, 206, 255, 0.441);
        padding: 0.7rem;
        border-radius: 5px;
        box-shadow: inset 3px 3px 0px #faf6ff55;
      }
      .skills {
        ul {
          list-style-type: none;
          padding: 0;
          li {
            margin-top: -5px;
            h4 {
              margin-bottom: 10px;
            }
            p {
              margin-top: -5px;
            }
          }
        }
      }
      .education {
        ul {
          list-style-type: none;
          padding: 0;
          li {
            margin-top: -5px;
            .school {
              margin-top: 5px;
              margin-bottom: 0px;
            }
            .field {
              margin-top: 3px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

.projects {
  padding-bottom: 0.5rem;
  .project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .project-card {
      border: 1px solid rgb(0, 0, 0);
      box-shadow: inset 3px 3px 0px #faf6ff;
      border-radius: 0.5rem;
      background-color: #e7d5ff;
      margin: 0.6rem;
      width: 275px;
      padding-bottom: 0.7rem;
      transition: 0.3s;
      .card-header {
        margin: 0;
        background: linear-gradient(to right, #dda0dd, #ccccff, #e3daff);
        padding: 0.5rem;
        border-radius: 0.3rem;
        box-shadow: inset 3px 3px 0px #ffffff94;
        h3 {
          margin: 0.3rem;
        }
      }
      p,
      span,
      .tools,
      a {
        font-family: $font-project;
        margin-left: 10px;
      }
      h5 {
        margin-top: 5px;
        margin-left: 10px;
      }
      p {
        font-size: small;
        margin-bottom: 1.5rem;
      }
      .tools {
        align-items: center;
        .tool {
          display: inline-block;
          background-color: #8b5fb5;
          color: #f3d9ee;
          padding: 4px 8px;
          margin: 4px;
          border-radius: 12px;
          font-size: 0.85rem;
        }
      }
      .card-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 0.7rem;
        .project-button {
          // display: flex;
          // justify-content: center;
          a {
            background-color: #e28fb7;
            padding: 0.4rem;
            border-radius: 6px;
            box-shadow: inset 3px 3px 0px #ffffffa4;
          }
          a:hover {
            background-color: #6a6ba1;
            transition: 0.3s;
          }
        }
      }
    }
    .project-card:hover {
      border: 1px solid #69ffc8;
      box-shadow: 0 0 5px #69ffc8;
      transition: 0.3s;
    }
  }
}

.contact {
  margin-top: 1.5rem;
  nav {
    display: flex;
    justify-content: center;
    margin: 1rem;
    a {
      margin-inline: 1rem;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  text-align: center;
  a {
    font-family: $font-header;
    font-size: 1.5rem;
  }
  small {
    color: whitesmoke;
    margin-top: 1.5rem;
  }
}
